<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://192.168.190.205:54000/TADashboard/2f9njff6y9.page"/>
    <add key="browser" value="ie" />
    <add key="usernameadmin" value="administrator"/>
    <add key="passworddadmin" value=""/>
    <add key ="username_thi" value="thi.nguyen"/>
    <add key="username_trang" value="trang.le"/>
    <add key ="username_ngoc" value="ngoc.le"/>
    <add key="username_nghia" value="nghia.bui"/>
    <add key="password" value="1"/>
    <add key="respos_SampleRepository" value="SampleRepository"/>
    <add key="respos_TestRepository" value="TestRepository"/>
  

  </appSettings>
</configuration>